<div id="gridContainer">
    <table id="jqGrid">

    </table>

    <!-- <div id="pager" style="width:100% !important;">

    </div> -->

    <div id="newPager">
        <div></div>
        <div>
            <div>
                <span class="border-circle" id="first-page" #firstPage (click)="onChangePage(firstPage.id)">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </span>
                <span class="border-circle" id="pre-page" #prePage (click)="onChangePage(prePage.id)">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>

                <span class="sperator"></span>

                <span>
                    第
                    <input type="text" value="1" #currentPage id="currentPage"> 页
                    <span>共
                        <span id="totalPage"> {{totalPage}} </span>页</span>
                </span>

                <span class="sperator"></span>

                <span class="border-circle" id="next-page" #nextPage (click)="onChangePage(nextPage.id)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <span class="border-circle" id="last-page" #lastPage (click)="onChangePage(lastPage.id)">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </span>
                <select name="" #pageSize (change)="onChangePageSize(pageSize)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <div class="viewRecords" *ngIf="resultsLength !==0;else noData">
            第{{currentStartIndex}}到
            <span id="resultsLength"> {{resultsLength}}</span>条
            <span style="margin-left:1rem;">共
                <span id="totalRecord">{{totalRecord}}</span>条
            </span>
        </div>
        <ng-template #noData>
            <div class="viewRecords">
                没有记录
            </div>
        </ng-template>
    </div>
</div>