<!-- 编研服务 start -->
<section>
  <div class="ui container custom-container-width">
    <!-- <img src="../../assets/newnewnewTeminal/checkFile.png" style="width:120px;" (click)="onCheckArchiveFile()" alt="" srcset=""> -->
    <div>
      <form class="ui form" id="search-form">
        <div class="inline fields">
          <div class="thirteen wide field">
            <input type="text" placeholder="输入检索内容" name="keyWord" #keyWord>
          </div>
          <button type="button" class="ui button" (click)="search(keyWord.value)">检索</button>
          <button type="button" (click)="onCheckArchiveFile()" class="ui button  medium">查看编研文件</button>
        </div>
      </form>
    </div>

    <app-table [gridContentArray]="gridContentArray" [pagerInfo]="pagerInfo"></app-table>
  </div>
</section>
<!-- 编研服务 end -->

<!-- 错误提示 -->
<!-- <div class="ui basic modal" id="error-modal">
  <div class="header" style="color:red">
    <i class="large disabled warning sign icon"></i>
    错误</div>
  <div class="content">
    <p>{{errorMsg}}</p>

  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      确定
    </div>
  </div>
</div> -->

<app-error-modal [errorMsg]="errorMsg"></app-error-modal>

<!-- 查看编研文件 -->
<div class="ui modal check-file-modal" id="check-file-modal">
  <div class="header">查看</div>
  <div class="scrolling content">

    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i> 显示列表 </div>
      <div class="content">
        <!-- <app-table id="modal-grid"></app-table> -->
        <table id="modal-jqGrid" class="jqGrid">

        </table>
        <div id="modal-jqGrid-pager"></div>

      </div>
    </div>

    <form action="" class="ui form">
      <div class=" two fields">
        <div class="field">
          <label for="title">
            <i class="red">*</i>编研标题
          </label>
          <input type="text" disabled id="title" #title>
        </div>
        <div class="field">
          <label for="time" class="three wide">
            <i class="red">*</i>编研时间
          </label>
          <input type="text" disabled id="time" #time>
        </div>
      </div>
    </form>

    <textarea id="container" #container></textarea>

  </div>
</div>