<form class="ui form" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
  <div class="inline fields">
    <div class="three wide field">
      <select formControlName='table' class="ui" id="catalogueSelection">
        <option *ngFor="let option of selection;" data-id="catalogueId={{option.id}}&tableName={{option.tableName}}">{{option.tableNameCH}}</option>
      </select>
    </div>
    <div class="field eleven wide">
      <input type="text" placeholder="输入查询信息" formControlName="input">
    </div>
    <div class="field">
      <button class="ui button" type="submit">检索</button>
    </div>
  </div>
</form>