<form class="ui form" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
  <div class="inline fields">
    <div class="field">
      <select formControlName='tableNameAndCataId' class="ui" id="catalogueSelection" #catalogueSelection (change)="onChange($event.target)">
        <option *ngFor="let option of options;" value="catalogueId={{option.id}}&tableName={{option.other}}" data-id="catalogueId={{option.id}}&tableName={{option.other}}">{{option.name}}</option>
      </select>
    </div>
    <div class="field nine wide">
      <input type="text" placeholder="输入查询信息" formControlName="keyword">
    </div>
    <div class="field two wide">
      <button class="ui button" type="submit">检索</button>
    </div>
    <div class="field two wide">
      <button class="ui button" type="button" (click)="onCheckEDCFile()">查看电子文件</button>
    </div>
  </div>
</form>