/* You can add global styles to this file, and also import other style files */

@import '../node_modules/jqgrid/css/ui.jqgrid.css';
section {
    padding-top: 16%;
}

@media (max-height:768px) {
    section {
        padding-top: 110px;
    }
}

body {
    background: #f4f4f4 !important;
}


/* 自定义container宽度 */


/* .custom-container-width {
    width: 1400px !important;
} */

.color-red {
    color: red !important;
}

.color-white {
    color: #fff !important;
}


/* jqGrid样式 */

#gridContainer {
    overflow: hidden;
}

#modal-jqGrid-pager,
#gbox_modal-jqGrid,
#gview_modal-jqGrid,
.ui-jqgrid-hdiv,
#gview_modal-jqGrid>div.ui-jqgrid-bdiv,
#gview_jqGird>div.ui-jqgrid-bdiv,
#pager,
#gview_jqGrid,
#gview_jqGrid>div.ui-jqgrid-hdiv,
#gbox_jqGrid {
    width: 100% !important;
}

#modal-jqGrid>tbody tr td,
#jqGrid>tbody tr td {
    font-size: 1rem;
}

table.ui-jqgrid-htable>thead tr {
    background: #277dff;
    color: #fff;
}

tr.ui-jqgrid-labels {
    height: 40px;
}

#modal-jqGrid>tbody tr.jqgrow.ui-row-ltr.ui-widget-content,
#jqGrid>tbody tr.jqgrow.ui-row-ltr.ui-widget-content {
    height: 40px;
}

tr.ui-jqgrid-labels th {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}